@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #d35656;
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
  text-align: center;
  height: 100vh;
  background: #333 url('redflowers.jpg') no-repeat center center/cover;
  overflow: hidden;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  color: #d35656;
}

h4 {
  opacity: 0.05;
}

p {
  font-size: 1.5rem;
  line-height: 1.75;
}


/* Navigation */
#main-nav {
  background: #f66767;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .bar {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 0.5rem;
  align-items: right;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  color: #fff;
}

#main-nav ul li a:hover {
  opacity: 0.75;
  transition: 1000ms;
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #898989;
}

.btn {
  display: inline;
  padding: 10px 15px;
  border-radius: 6px;
  color: #d35656;
  border: solid #d35656 2px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
}

.btn:hover {
  background: linear-gradient(45deg, #f66767, #d35656);
  color: #fff;
  transition: 1000ms;
  border: none;
}

.llc-header {
  font-size: 6rem;
  margin: 3rem 0.5rem;
  border-bottom: 3px solid #d35656;
}

.photo {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  max-width: 400px;
}

.photo-align {
  display: block;
  margin: auto;
  border-radius: 50%;
    width: 20%;
}
  
.about {
  max-width: 960px;
  margin: 3rem auto;
  color: #d35656;
  padding: 1rem 3rem;
  text-align: center;
  margin: auto;
}

.portfolio {
  max-width: 960px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.box {
padding: 6rem;
opacity: 0.5;
}

.box:hover {
  opacity: 0.85;
   transition: .5s ease;
}


.fa-star {
  opacity: 1;
  color: #fff;
  border-radius: 50%;
  background: #f66767;
  padding: 0.75rem;
}

.fa-star:hover {
  transition: 1000ms;
  transform: scale(1.05);
  background: #fff;
  color: #f66767;
  border: solid #f66767 2px;
}


.box-1 {
  background: url('antique.jpg') center center/cover;
}

.box-2 {
  background: url('bwfemale.jpg') center center/cover;
}

.box-3 {
  background: url('orangetiny.jpg') center center/cover;
}

.box-4 {
  background: url('color.jpg') center center/cover;
}

.box-5 {
  background: url('photo-2.jpg') center center/cover;
}

.box-6 {
  background: url('mountain.jpg') center center/cover;
}

.box-7 {
  background: url('cateye.jpg') center center/cover;
}

.box-8 {
  background: url('classic.jpg') center center/cover;
}

.box-9 {
  background: url('blue.jpg') center center/cover;
}

/* CONTACT */

.contact-info {
  text-align: center;
  max-width: 920px;
  margin: 3rem auto;
}

.contact-icon {
  color: #f66767;
  padding: 0.5rem;
}

.contact-icon:hover {
  transform: scale(1.25);
  opacity: 0.5;
  transition: 1750ms;
}



#footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background: #f66767;
  color: #fff;
  padding: 3rem;
  margin: 0;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media(max-width: 800px) {
.container {
  padding: 0 1rem;
}

.about {
  padding: 1rem;
}
  h1 {
    font-size: 2.5rem;
  }
.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
}

@media(max-width: 600px) {
  
 .llc-header {
   font-size: 2rem;
   margin: 3rem 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

h2 {
  font-size: 1.5rem;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
}
}
